<!-- // Breakpoint Prefix 	Minimum Width	Example Usage
sm:	640px	sm:w-full
md:	768px	md:w-1/2
lg:	1024px	lg:w-screen
xl:	1280px	xl:w-auto
2xl:	1536px	2xl:w-max -->

<div class="w-screen h-max mt-12 flex flex-col drop-shadow-lg border-none bg-[var(--color-beige)]">
    <div class="mx-8 sm:mx-14 flex-col">
        <h1 class="flex font-principal text-xl
        sm:text-3xl
        md:text-4xl
        lg:text-5xl
        xl:text-6xl
        2xl:text-7xl 
        text-[var(--color-verde)]"
        >DISEÑADORA GRÁFICA</h1>
    </div>
    <div class="flex">
        <div class="w-1/2 h-full">
            <img
            src='/logo.webp'
            alt="logo"
            class="w-48 h-48 mx-2
            sm:w-68 sm:h-68 sm:mx-8
            md:w-72 md:h-72
            lg:w-86 lg:h-86
            xl:w-120 xl:h-120
            2xl:w-160 2xl:h-160"
            />
        </div>
        <div class="w-1/2 h-full">
            <h3 class="w-full mb-4 font-tercera italic text-[var(--color-verde)]">Invierte en una <a class="font-extrabold italic">ventaja</a> creativa para tu negocio</h3>
            <h4 class="w-2/4 mb-4 font-secundaria text-xl txt text-[var(--color-cafe)]">Apuesto por transformar tus ideas en un diseño de marca coherente e impecable a traves de un
                linaje de marketing estrategico y colaborativo</h4>
            <h3 class="font-tercera italic text-[var(--color-verde)]">Celena Pinto</h3>
        </div>
    </div>
</div>