---
import BannerImage from '../assets/images/banner.webp';
---

<div class="w-screen h-max mt-12 flex justify-start items-center drop-shadow-lg border-none bg-[var(--color-beige)]">
    <div class="mx-14">
        <h1 class="flex font-principal text-7xl text-[var(--color-verde)]">DISEÑADORA GRÁFICA</h1>
    </div>
    <div>

    </div>
</div>