---
import { Image } from 'astro:assets';
import bannerImage from '../assets/images/banner.webp';
---

<div class="relative w-full h-auto">
    <Image
      class="w-full h-auto object-cover"
      src={bannerImage}
      alt="Banner Image" 
    />

    <!-- Contenedor del texto: 'justify-center' lo centra verticalmente, 'pl-12' lo aleja de la izquierda -->
    <div class="absolute md:gap-2 lg:gap-2 inset-0 flex flex-col justify-center items-start pl-3.5 md:pl-8 lg:pl-10 xl:pl-12.5 2xl:pl-16 translate-y-10 md:translate-y-20 lg:translate-y-28 2xl:translate-y-32">
        <span class="mask-reveal animate-reveal font-chopin-light text-xs md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl text-amarillo-claro">Celena Pinto</span>
        <span style="animation-delay: 0.5s;" class="xl:py-2 mask-reveal animate-reveal font-chopin-light text-xs md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl text-verde-claro">Creadora Digital</span>
        <span style="animation-delay: 1s;" class="mask-reveal animate-reveal font-chopin-light text-xs md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl text-verde-oscuro">Diseñadora Gráfica</span>
    </div>
</div>