<div class="w-full">
    <div class="w-1/2">
        <div class="flex flex-col mt-5 pl-3.5 md:pl-8 lg:pl-10 xl:pl-13">
            <span class="ml-10 font-palatia text-xs md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl">CREADORA</span>
            <span class="ml-10 font-edwardian text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl">Digital</span>
            <span class="mt-5 mb-25 p-5 mx-10 font-libre-franklin-variable text-2xl">
                <p>Creo firmemente que el contenido de calidad es el puente entre el conocimiento y la comunidad. 
                Como creadora digital, mi misión es transformar la experiencia técnica de mis clientes en una narrativa visual ideal, 
                estratégica y de alto impacto. No me limito a diseñar; asumo la dirección creativa integral de la presencia digital. 
                Me involucro en cada etapa del proceso: desde la conceptualización de ideas fuera de lo común y la estructuración estratégica 
                de la comunicación, hasta la dirección de cámara, guionismo y edición final.</p>

                <p>Mi enfoque se basa en el orden y la claridad que trasmitirá el perfil, asegurando que cada publicación no solo sea visualmente linda, 
                sino que cumpla un objetivo estratégico de crecimiento. Ayudo a profesionales a proyectar su esencia más auténtica, utilizando el espacio 
                correcto para mostrar su vibra real y para consolidar una comunidad leal. Construyo un ecosistema digital con alma, donde el contenido estratégico 
                se convierte en una herramienta poderosa para transformar producto y profesionalizar marca.</p>
            </span>
        </div>
    </div>
    <div class="w-1/2"></div>
</div>