---
import { Image } from 'astro:assets';
import digitalImage from '../assets/images/digitaldesigner.webp';

---

<div class="w-full flex flex-col md:flex-row">
    <div class="reveal-left w-full md:w-1/2 flex md:mt-20">
    <div class="flex flex-col mt-5 pl-3.5 md:pl-8 lg:pl-10 xl:pl-13 max-w-3xl">
        <div class="w-full md:ml-3 flex flex-col justify-between items-start"> {/* Cambiado a flex con espacio entre */}
            <span class="font-palatia font-bold text-rojo text-xs md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl">CREADORA</span>
            <span class="font-chopin-light text-amarillo-oscuro text-2xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl">DIGITAL</span>
        </div>
            <span class="mt-5 text-rojo sm:mt-10 md:mb-25 p-3 md:p-2 md:mx-5 font-libre-franklin-variable text-xs sm:text-xl text-justify items-center">
                <p class="md:mt-10">Creo firmemente que el contenido de calidad es el puente entre el conocimiento y la comunidad. Como creadora digital, mi misión es transformar la experiencia técnica de mis clientes en una narrativa visual ideal, estratégica y de alto impacto. No me limito a diseñar; asumo la dirección creativa integral de la presencia digital. </p>

                <p class="md:mt-10">Mi enfoque se basa en el orden y la claridad que trasmitirá el perfil, asegurando que cada publicación no solo sea visualmente linda, sino que cumpla un objetivo estratégico de crecimiento.</p>
            </span>
        </div>
        
    </div>

    <div class="w-full md:w-1/2 flex relative overflow-hidden">
        <Image
      class="reveal-right w-full h-auto scale-80 object-contain"
      src={digitalImage}
      alt="Digital Designer Image"
    />
</div>