---
import { Image } from 'astro:assets';
import lean from '../assets/images/lean.webp';
---

<div class="reveal w-full h-auto mt-5">
    <Image
        class="w-full h-auto object-container "
        src={lean}
        alt="Lean Lines Image"
      />
</div>