---
import { Image } from 'astro:assets';
import strategyImage from '../assets/images/estrategia.webp';
---

<div class="relative w-full h-screen">
    <Image
      class="w-full h-auto object-cover"
      src={strategyImage} 
      alt="Strategy Image" 
    />
</div>