<div class="w-full mt-10">
    <h2 class="text-center px-2 text-xl">Haro es una marca a la moda que inspira lo épico. Cada diseño representa algo extraordinario y busca superar lo común. Porque ser épico es atreverse a vestir con alma, estilo y verdad</h2>
</div>