---
import Background from '../assets/images/background.webp';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Celena P. | Diseñadora Grafica</title>
	</head>
	<body>
		<img src={Background.src} alt="Fondo" class="fixed object-cover top-0 left-0 w-full h-full" />
		<main class="w-full">
			<slot />
		</main>
	</body>
</html>

<style>
	@import '../styles/global.css';

	:root {
		--color-verde: #005b5d;
		--color-beige: #f2f0eb;
		--color-cafe: #7a5949;      
	}

	html{
		scroll-behavior: smooth;
	}
	
</style>
